{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }} list{% endblock title %}
{% block content %}
<h1>{% trans "Wardrobes" %}</h1>
<div class="toolbar">
    <a class="button" href="{% url "wardrobe_create" %}">{% trans "create new"|capfirst %}</a>
    {% comment %} <form method="get" action="{{ request.path }}">
        <select name="owner" onchange="this.form.submit();">
            {% for user in user_list  %}
                <option value="{{ user.username }}" {% if user.username == request.GET.owner %}selected{% endif %}>
                    {{ user.first_name }} {{ user.last_name }}
                    ({{ user.username }})
                </option>
            {% endfor %}
        </select>
    </form> {% endcomment %}
</div>
<ul>
{% for wardrobe in wardrobe_list %}
<li><a href="{% url "is_for_sale" wardrobe.pk %}">
    {% if wardrobe.is_for_sale %}&#x2611;{% else %}&#x2610;{% endif %}</a>
    <a href="{% url "wardrobe_detail" wardrobe.pk %}">{{ wardrobe.name }}</a>
    <span style="float:right;">{{ wardrobe.listings.count }} {% trans "listings" %}</span>
</li>
{% empty %}
<li>{% trans "No wardrobes   found" %}</li>
{% endfor %}
</ul>
{% endblock content %}
